.App {
  text-align: center;
  display: flex ;
  flex-wrap: wrap;
}

body{
  background-color: #e8ece4;
  color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  width: 100%;
}
.card{
  background-color: #C8ccc4;
  border: solid black 1px;
  border-radius: 8px;
  width: 30%;
  margin-left: 35px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.cardInfo{
  background-color: #C8ccc4;
  border: solid black 1px;
  border-radius: 8px;
  width: 30%;
  margin-left: 35%;
  padding-bottom: 20px;
  margin-top: 10px;
}
button {
  background-color:lightskyblue;
  padding: 10px;
  color: blue;
  border-radius: 10px;
  border: solid blue 1px;
}